.test-page {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.test-page__title {
  margin-bottom: 20px;
}

.test-page__content {
  padding: 20px;
  max-width: 800px;
  width: 100%;
  border-radius: 8px;
  background-color: #fafafa;
}
